# fly.toml app configuration file generated for response-hub on 2026-01-10T23:18:08Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'response-hub'
primary_region = 'jnb'

[build]
  dockerfile = "Dockerfile"
  [build.args]
    VITE_ADVERSE_NEWS_API_URL = "https://adversenews-api.botlobi.com"
    VITE_CLERK_PUBLISHABLE_KEY = "pk_test_c2V0dGxpbmctb3NwcmV5LTgwLmNsZXJrLmFjY291bnRzLmRldiQ"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
